# Archivos temporales de Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Archivos de logs y temporales
*.log
*.tmp
*.temp

# Carpetas de configuración de editores
.vscode/
.idea/

# Accesos directos
*.lnk
